html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; }

.wrapper {
  position: relative;
  max-width: 1298px;
  height: auto;
  margin: 2em auto 0 auto;
}

.boxError {
  max-width: 30%;
  min-height: auto;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
}

h6, p:not(:last-of-type) { text-shadow: 0 0 6px #216f79; }

h6 {
  margin: 0 0 1rem 0;
  font-size: 4em;
}

p {
  margin-bottom: 0.5em;
  font-size: 2em;
}

p:first-of-type { margin-top: 2em; }

p > a {
  border-bottom: 1px dashed #216f79;
  font-style: italic;
  text-decoration: none;
  color: #216f79;
}

p > a:hover { text-shadow: 0 0 6px #216f79; }

p img { vertical-align: bottom; }
